.pagecontainer {
  padding: 50px;
  background-color: rgb(17, 30, 72);
  color: #C7D2D8;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(auto, 3fr);
  gap: 50px;
}

.recomArticleframe {
  display: grid;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid  #C7D2D8;
}

.recomArticleframe div:nth-child(2) *{
  margin-bottom: 10px;
}

.recomArticleframe div:nth-child(1) {
  position: relative;
  aspect-ratio: 1/0.6;
}

.categorypost {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.imgwrap {
  position: relative;
  aspect-ratio: 1/1;
}

.imgwrap img {
  object-fit: cover;
  position: absolute;
  border-radius: 5px;
}

.category {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  color:#C7D2D8;
}

.category:hover {
  background-color: #C7D2D8;
  color: #131A33;
}

.articleframe div:nth-child(2) *{
  margin: 10px 0;
}

.button {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.button button{
  border: 1px solid #C7D2D8 ;
  padding: 20px;
  border-radius: 10px;
  font-size: 30px;
  background-color: transparent;
  color: #C7D2D8;
}

.button button:hover{
  background-color:#C7D2D8;
  color: #131A33;
}

  @media screen and (max-width: 900px) {

    .pagecontainer {
      padding: 50px 10px;
      }

    .wrapper {
      display: block;
    }

    .wrapper > div:nth-child(2){
      padding: 50px 0;
    }

    .categorypost {
      
    }

    .articleframe {
      display: grid;
      grid-template-columns: 40% 1fr;
      gap: 20px;
      font-size: 16px;
    }

    .button {
      padding: 20px 0;
    }
    
    .button button{
      padding: 20px;
      font-size: 16px;
    }

  }