.pagecontainer {
  padding: 50px;
  background-color: rgb(17, 30, 72);
  color: #C7D2D8;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 3fr;
  gap: 50px;
}

.recommendedPostsContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #C7D2D8;
}

.recomposts{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recomposts h1 {
  font-size: 20px;
}

.recomimgwrap {
  position: relative;
  aspect-ratio: 1/0.7;
}

.recomimgwrap img {
  object-fit: cover;
  position: absolute;
  border-radius: 5px;
}

.recomposts div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recomposts div:nth-of-type(2) a {
  color: #C7D2D8;
}

.recomposts div:nth-of-type(2) a span{
  padding-bottom: 5px;
  border-bottom:#C7D2D8 1px solid;
}


.allpostcontainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.allpost {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  color: #C7D2D8;
}

.articleframe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.articleframe div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0
}

.articleframe div:nth-of-type(2) a span {
  color: #C7D2D8;
  padding-bottom: 5px;
  border-bottom: #C7D2D8 1px solid;
}

.articleframe h1 {
  color: #C7D2D8;
  font-size: 20px;
}

.imgwrap {
  position: relative;
  aspect-ratio: 1/1;
}

.imgwrap img {
  object-fit: cover;
  position: absolute;
  border-radius: 5px;
}

.allpostcontainer button{
  border: 1px solid #C7D2D8 ;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: transparent;
  color: #C7D2D8;
  width: max-content;
  margin: auto;
}

.allpostcontainer button:hover {
  background-color:#C7D2D8;
  color: #131A33;
}

.button button:hover{
  background-color:#C7D2D8;
  color: #131A33;
}

  @media screen and (max-width: 700px) {

    .pagecontainer {
      padding: 50px 10px;
      }

    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .recommendedPostsContainer {
      gap: 10px;
    }

    .recomposts {
      flex-direction: row;
      gap: 20px;
    }

    .recomposts div:nth-of-type(1) {
      flex: 1;
    }

    .recomposts div:nth-of-type(2) {
      flex: 3;
    }

    .allpostcontainer {
      gap: 20px;
    }

    .allpost {
      display: flex;
      flex-direction: column;
    }

    .articleframe {
      flex-direction: row;
    }

    .articleframe div:nth-of-type(1) {
      flex: 2;
    }

    .articleframe div:nth-of-type(2) {
      flex: 3;
    }

    .allpostcontainer button {
      font-size: 16px;
    }

  }