.pagecontainer {
  background-color: rgb(17, 30, 72);
  color: white;
  display: grid;
  gap: 100px;
  padding: 100px 0;
  justify-content: center;
  grid-template-rows: repeat(auto-fit, 1fr);
}

.topheading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.topheading h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

.options button {
  padding: 10px;
  border: 1px solid greenyellow;
  border-radius: 10px;
  z-index: 10;
  position: sticky;
  top: 80px;
  position: -webkit-sticky;
  flex-shrink: 1;
  max-width: 200px;
  flex: 1;
}

.midsection {
 display: grid;
 justify-content: center;
 text-align: center;
 gap: 10px;
 padding: 0 200px;
}

.midsection h1 {
  font-size: 60px;
}

.calculators {
  margin: 20px 0;
}

@media screen and (max-width: 900px) {

  .pagecontainer {
    padding: 50px 10px;
    gap: 50px;
  }

  .pagecontainer * h1{
    font-size: 30px;
  }

  .midsection {
    padding: 0 10px;
   }

  .options {
    gap: 10px;
  }
  
}