.topheading {
  margin: 20px 150px;
  display: flex;
  color: grey;
  font-weight: bolder;
  padding: 80px 50px;
}

.toOptions {
  display: flex;
  margin: 0 150px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.topheading p {
  font-size: 60px;
  color: black;
  font-weight: bolder;
  text-align: center;
}


.bodycontainer {
  padding: 0 150px;
  background-color:
   rgb(24, 40, 102);
}

.up {
  display: flex;
  padding: 10px 0;
}

.selected {
  padding: 10px 10px;
  height: auto;
  background-color: transparent;
  border: none;
  font-size: 25px;
  text-align: start;
  cursor: pointer;
  color: white;
  opacity: 0.5;
}

.up button {
  padding: 10px 10px;
  height: auto;
  background-color: transparent;
  border: none;
  font-size: 25px;
  text-align: start;
  cursor: pointer;
  color: silver;
  opacity: 0.5;
}

.selected {
  font-size: 28px;
  color: white;
  opacity: 1;
}

.up button:hover {
  color: white;
  border: silver solid 1px;
  font-size: 28px;
}

.down {
  display: grid;
  grid-template-columns: 30% 1fr;
}

.down * p {
  /* font-weight: 100; */
  /* font-size: 18px; */
}

.down * h2 {
  font-size: 30px;
}
.calcInfo {
  background-color: transparent;
}

.calcInfo div:nth-child(1) {
  position: relative;
  width: 100%;
  height: 300px;
}

.calcInfo div:nth-child(2) {
  padding: 20px 10px;
  color: silver
}

.calcInfo img {
  position: absolute;
  aspect-ratio: 1/1;
  object-fit: cover;
}



.calculators {
  width: 100%;
  position: relative;
  display: flex;
  height: 500px;
  overflow: hidden;
}

.invisible {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0%;
  right: 0;
  translate: 3000px 0;
  transition: all 1s ease-in-out;
  display: grid;
}

.active {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 1s ease-in-out;
  display: grid;
}

.retirementContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: white;
  height: 100%;
}

.retirementContainer > div {
  padding: 20px
}

.retireInputCard {
  color: grey;

}

.expenseinput input{
  padding: 5px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: whitesmoke;
}

.expenseinput p {
  margin: 10px 0;
  color: gray;
}

.RetireResultsdisplay {
  background-color: whitesmoke;
  border-radius: 10px;
}

.RetireResultsdisplay > div {
 padding: 10px 0;
}

.RetireResultsdisplay > div p {
  font-weight: 100;
 }

 .targetcontainer {
  display: grid;
  grid-template-columns: minmax(35%, 1fr) 3fr;
  font-size: 15px;
 }

 .targetcontainer > div {
  padding: 25px 20px;

}

 .targetinput {
  background-color: white;
  border-right: 1px silver solid;
 }

.targetinput > div {
}
.inputAmount {
  position: relative;
}

.inputAmount span {
  position: absolute;
  align-items: center;
  top: 20%;
  left: 150px;
  color: grey;
}


 .targetinput button {
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: navy;
  color: white;
 }

 .targetCurr {
  /* display: flex; */
 }

 .targetCurr label{
  display: inline-flex;
  border: 1px whitesmoke solid;
  width: 100px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  cursor: pointer;
 }

 .targetCurr label:hover {
  background-color: silver;
  border: 2px solid grey;
 }

 .targetCurr input {}

 .targetAmount input {
  background-color: whitesmoke;
  padding: 10px;
  border: none;
  width: 200px;
  border-radius: 10px;
 }

 .targetdate input{
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: whitesmoke;
  padding: 10px;
 }

 .targetresult {
  background-color: white;
  font-size: 12px;
 }

 .targetresult > div:nth-child(1) {
  display: flex;
 }

 .targetresult > div:nth-child(1) > div{
  margin-right: 30px;
 }

 .targetTableHeading {
  display: flex;
 }

 .targetResultRow {
  display: grid;
  grid-template-columns: 50% 1fr;
  background-color: whitesmoke;
  margin: 5px 0;
  border-radius: 10px;
 }

 .targetResultProduct {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }

 .targetResultContri {
 }

 .targetRecomRow {
  display: flex;
  justify-content: space-evenly;
  padding: 3px 0;
  text-align: center;
  border-bottom: 1px solid black;;
 }

 .totalContri {
  display: flex;
  justify-content: space-evenly;
 }

 .incomeInput div {
  margin-bottom: 10px;
 }

 .incomeInput p {
  font-weight: 100;
 }

 .incomeInput input,
 .incomeInput label{
  padding: 10px;
  border: 1px solid silver;
  margin: 5px 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: whitesmoke;
  font-size: 15px;
 }

 .incomeInput label{
  display: block;
  width: 150px;
 }


 .incomeInput label span{
  margin-left: 10px;
 }

 .incomeInput button {
  padding: 10px 20px;
  border: none;
  background-color: navy;
  color: white;
  border-radius: 20px;
  font-size: 15px;
 }

 .incomeContainer {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 20px;
  background-color: white;
  font-size: 15px;
 }

 .incomeResultRow {
  display: flex;
  background-color: whitesmoke;
  margin-bottom: 5px;
  justify-content: space-evenly;
  text-align: start;
}

.incomeResultRow > div {
  margin-right: 10px;
  padding: 10px 0;

}