.pagecontainer {
  background-color: rgb(24, 40, 102);
  color: white;
  display: grid;
  gap: 100px;
  padding: 100px 200px;
  justify-content: center;
  grid-template-rows: repeat(auto-fit, 1fr);
  /* z-index: 100; */
}

.topheading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.topheading h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: sticky;
  top: 80px;
  position: -webkit-sticky;
}

.options button {
  padding: 12px;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  /* height: 50px; */
}

.midsection {
 display: grid;
 justify-content: center;
 text-align: center;
 gap: 10px
}

.midsection h1 {
  font-size: 60px;
}

.calculators {
  margin: 20px 0;
  /* display: grid;
  grid-template-columns: repeat(3, 100%); */
  /* white-space: nowrap; */
  /* width: auto; */
  /* display: inline; */
  /* overflow: hidden; */
  /* align-content: start; */
  /* position: relative;
  height: 500px;
  overflow: hidden; */
  /* width: 100vw; */
}

.invisible {
  /* width: 100%; */
  /* display: inline-block; */
  /* width: 100%; */
  /* flex: 1;
  /* position: absolute; */
  /* top: 0;
  left: 0;
  right: 0; */
  /* translate: 100% 0; */
  /* transition: all 1s ease-in-out; */
  /* display: grid; */
}

.active {
  /* grid-column: 1;
  width: 100%; */
  /* display: inline-block; */
  /* flex: 1;
  width: 100%; */
  /* flex: 1; */
  /* width: 100%; */
  /* width: 100vw; */
  /* position: absolute; */
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  /* transition: all 1s ease-in-out; */
  /* display: grid; */
}

@media screen and (max-width: 900px) {

  .pagecontainer {
    padding: 50px 10px;
    gap: 50px;
  }

  .pagecontainer * {
    /* font-size: 16px; */
  }

  .pagecontainer * h1{
    font-size: 30px;
  }

  .options button{
    font-size: 10px;
    padding: 5px;
  }

  .midsection {

  }

  .calculators {
    /* height: 900px; */
  }
  
}