.formcontainer{
  margin: 50px 100px;
}
.answerspan {
  display: block;
  width: 50px;
  height: 50px;
  border: black 3px solid;
  border-radius: 50px;
  vertical-align: middle;
 }

 .annualIncome{

 }

 .answerspan:hover {
  background-color: aqua;
 }

 .answerspan:active {
  background-color: aqua;
 }

.circle {
display: inline-block;
border-radius: 50%;
border: 2px solid blue;
margin-right: 10px;
}

.circle:hover {
background-color: blue;
}

input[type="radio"]:checked + .circle {
background-color: blue;
border-color: blue;
}

.ranking {
  display: none
}

#big {
  width: 50px;
  height: 50px;
}

#small {
  width: 20px;
  height: 20px;
}

#mid {
  width: 30px;
  height: 30px;
}

.fieldset {
  display: flex;
  align-items: center;
}

.investmentvaluehidden {
  display: none;
}

.investmentvalueshow {
  display: block;
}

.incomeSources {
}