.wrapper {
  display: grid;
  padding: 100px 50px;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 3fr);
  column-gap: 50px;
  background-color: rgb(17, 30, 72);
  color: #C7D2D8;
}

.categorypost {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;

}

.categorypost h1 {
  color: #C7D2D8;  
}

.imgwrap {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
}

.imgwrap img {
  position: absolute;
  object-fit: cover;
}

.leftSection h1{
  padding: 20px 0;
}

.leftSection > div{
  border-bottom: 1px solid white;
  padding-bottom: 50px;
}

.recommendedPost > div{
  display: grid;
  gap: 20px;
}

.recomArticleframe {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 20px;
}

.recomArticleframe p {
  color: #C7D2D8;
  font-weight: bolder;
}

.recomArticleframe div:nth-child(2) *{
  padding-bottom: 10px;
 
}

.recomimgwrap {
  position: relative;
  aspect-ratio: 1 / 1;
}

.recomimgwrap img {
  object-fit: cover;
  position: absolute;
  border-radius: 5px;
}

.articleframe div:nth-child(2) *{
  padding: 10px 0;
}

.button {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
  
.button button{
  padding: 20px;
  border: none;
  border-radius: 20px;
}

  @media screen and (max-width: 900px) {
    
    .wrapper {
      display: block;
      padding: 50px 10px;
    }

    .recomArticleframe {
      display: grid;
      gap: 20px;
    }
    
    .recomArticleframe div:nth-child(2) *{
      margin-bottom: 10px;
    }
    
    .recomArticleframe div:nth-child(1) {
      position: relative;
      aspect-ratio: 1/0.6;
    }

    .articleframe {
      display: grid;
      grid-template-columns: 40% 1fr;
      font-size: 16px;
      gap: 20px;
    }

  }