.pagecontainer * a:visited {
 text-decoration: none;
}

.top {
  background-color: rgb(17, 30, 72);
  padding: 100px 50px;
}

.topDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.topDiv h1{
  font-size: 60px;
  color: #C7D2D8;
}

.topDiv p{
  color:#C7D2D8;
  font-size: 20px;
  font-weight: 100;
}

.topdeets {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category {
  border: 1px solid #C7D2D8;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: transparent;
  color:#C7D2D8;
}

.category:hover {
  background-color: #C7D2D8;
  color: #131A33;
}

.imageDiv {
  position: relative;
  aspect-ratio: 1 / 0.8;
}

.imageDiv img {
  position: absolute;
  height: auto;
  object-fit: cover;
}

/* Recent Post */

.recent {
  display: flex;
  flex-direction: column;
  background-color: #131A33;
  padding: 100px 50px;
  gap: 100px;
} 

.recentPosts {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* padding: 50px 0; */
}

.recentPosts h1, .recentPosts span {
  color: #C7D2D8;
}

.recentButton {
  display: flex;
  justify-content: center;
}

.recentButton button{
  border: 1px solid #C7D2D8 ;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: transparent;
  color: #C7D2D8;
}

.recentButton button:hover {
  background-color:#C7D2D8;
  color: #131A33;
}
 
.recentPostCard div:nth-child(2) * {
  margin-bottom: 10px;
}

/* category blotter */

.categoryBlotters {

}

.blotter button {
  border: 1px solid #131A33 ;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  background-color: transparent;
}

.blotter button:hover {
  background-color: #131A33;
  color:#C7D2D8;
}

.blotter {
  display: grid;
  grid-template-columns: fit-content(300px) 1fr ;
  gap: 20px;
  border-bottom: 1px solid #131A33;
  background-color: #C7D2D8;
  color: #131A33;
  padding: 100px 50px;
}

.blotterinfo {
flex: 1;
}

.blotterPosts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* justify-content: center; */
  gap: 20px;
}

.blotterinfo * {
  margin: 10px 0;
}

.blotterCard div:nth-child(2) * {
  padding-bottom: 10px;
}

.blotterCard h1 {
  color: #131A33;
}

.blotterinfo h1{
  font-size: 60px;
}


@media screen and (max-width: 600px) {

  .pagecontainer * p {
    font-size: 14px;
  }

  .pagecontainer > div {
    /* padding: 50px 10px; */
  }

  .top {
    padding: 50px 10px;
  }

  .topDiv h1{
    font-size: 40px;
  }
  .topDiv p{
    font-size: 14px;
  }

  .recentPosts * h1, .blotterPosts * h1 {
    font-size: 16px;
  }
 
  .category {
    padding: 0;
    padding-bottom: 5px;
    font-size: 14px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid whitesmoke;
    border-radius: 0;
  }

  .recent {
    display: flex;
    flex-direction: column;
    background-color: #131A33;
    padding: 50px 10px;
    gap: 50px;
  } 
  
  .recentPostCard {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 20px;
  }

  .recentButton button{
    border: 1px solid #C7D2D8 ;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
  }

  .blotter {
    padding: 50px 10px;
    display: block;
  }

  .blotterCard {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 20px;
  }

  .blotter button {
    border: 1px solid #131A33 ;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    background-color: transparent;
  }
  

}