.pagecontainer {
  width: 100%;
  background-color: rgb(17, 30, 72);;
  color: white;
}

.formcontainer {
  padding: 20px 0;
  max-width: 600px;
  margin: auto;
}

.archetypeImage  {
  width: 100%;
}

.archetypeImage img {
  width: 100%;
  height: 200px;
}

.quizintro {
  display: block;
  padding: 10px 0;
  text-align: center;
  max-width: 600px;
}

.quizintro * {
  padding-bottom: 10px;
}

.quizintro h1 {
  font-size: 80px;
}

.quizintro span {
  font-weight: 100;
  display: block;
}

.progressOut {
  width: 100%;
  height: 5px;
  background-color: gray;
}

.progressOut div {
  background-color: greenyellow;
  height: 100%;
  transition: all 1s ease-in-out;
}

.questioncontainer{
  position: relative;
  max-width: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.question {
  height: inherit;
  width: 600px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -300%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
}

.visible {
  height: auto;
  display: flex;
  justify-content: center;
  margin: auto;
  transition: all 0.5s ease-in-out;
}

.radio {
  max-width: 500px;
}

.radio > div {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.radio > div label {
  border: 1px solid gray ;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 100;
  display: flex;
  gap: 10px;
  align-items: center;
}

.radio > div label:has(input:checked) {
  background-color: white;
  color: #131A33;
}

.radio div:nth-child(2) input {
}

.radio div:nth-child(2) label:hover {
  background-color: lightskyblue;
}

.radio div:nth-child(2) * p {
  padding: 0 10px;
}

.degree {
  max-width: 500px;
}

.rankingcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
}

.circle {
  border-radius: 50%;
  border: 1px solid white;
  margin: 10px;
  }
  
  .circle:hover {
  background-color: greenyellow;
  }
  
  input[type="radio"]:checked + .circle {
  background-color: greenyellow;
  border-color: white;
  }

  .ranking {
    display: none
  }
  
  #big {
    width: 80px;
    height: 80px;
  }
  
  #small {
    width: 20px;
    height: 20px;
  }
  
  #mid {
    width: 45px;
    height: 45px;
  }

  .degree * label:has(.ranking) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ageQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ageQuestion * {
    margin: 20px 0;
  }
  
  .ageQuestion input {
   width: 300px;
   height: 1px;
   -webkit-appearance: none;
   appearance: none;
  }
  
  .ageQuestion input::-webkit-slider-thumb {
    
    -webkit-appearance: none;/* appearance: none; */
    width: 50px;
    height: 50px;
    background-color: rgb(24, 40, 102);
    border: 1px solid greenyellow;
    border-radius: 50%;
    cursor: pointer;
   }
  
   .ageQuestion input::-ms-thumb {
    width: 50px;
    height: 50px;
    background-color: rgb(24, 40, 102);
    border: 1px solid greenyellow;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .ageQuestion input::-moz-range-thumb {
    width: 50px;
    height: 50px;
    background-color: rgb(24, 40, 102);
    border: 1px solid greenyellow;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .ageQuestion div {
    font-size: 20px;
    padding: 20px 0;
    font-weight: bolder;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  .controls button{
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
  }

  .startquiz {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid greenyellow;
    color: greenyellow;;
    background-color: #131A33;
    font-size: 20px;
  }

  @media screen and (max-width: 600px) {
    .questioncontainer * p, .questioncontainer * span{
      font-size: 12px;
    }

    .questioncontainer{
      padding: 0 10px;
    }

    .quizintro h1 {
      font-size: 40px;
    }

    .quizintro span {
      display: block;
    }

    .radio > div {
      margin: 20px 0;
      gap: 10px
    }
    
    

    #big {
      width: 55px;
      height: 55px;
    }
    
    #small {
      width: 20px;
      height: 20px;
    }
    
    #mid {
      width: 35px;
      height: 35px;
    }
    
  }