.pagecontainer {
  padding: 0 100px;
}

.topDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 50px 100px;
  grid-column-gap: 60px;
}

.topleft {
  display: grid;
}

.featuredimagewrapper {
  position: relative;
  border-radius: 10px;
  border: 0.5px black solid;
  display: grid;
  overflow:  hidden;
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.featuredimage {
  position: absolute;
}

.featuredarticle {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: hotpink 1px solid;
}

.featuredcategory {
  border-bottom: gray 1px solid;
  font-size: 20px;
  color: black;
}

.featuredtitle {
  font-size: 30px;
  line-height: 50px;
  color: black;
}

.topright {
  height: 100%;
}

.topright::-webkit-scrollbar {
  display: none;
}
.recentposts {
  font-size: 30px;
}

.recentpostswrapper {
  margin: 30px 0 0 0;
  display: grid;
  row-gap: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.rArticle {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

.rArticleImg {
  display: grid;
  border: black solid 1px;
  position: relative;
  border-radius: 10px;
  overflow: hidden; 
  aspect-ratio: 1 / 0.9;
}

.rArticleImg img {
  position: absolute;
}

.rArticleDetails {

}

.rArticleTitle {
  font-size: 20px;
  font-weight: 100;
  color: black;
}

.rArticleCategory {
  border-bottom: gray 1px solid;
  font-size: 20px;
  font-weight: 100;
  color: black;
}

.blotterwrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 50px 100px;
  background-color: whitesmoke;
  column-gap: 20px;
}

.leftsection > * {
  padding: 10px 0;
}

.categoryheading {
  font-size: 30px;
}

.categorydesc {
  font-size: 20px;
  font-weight: 100;
}

.button {
  color: black;
  border: 1px black solid;
  border-radius: 15px;
  padding: 15px;
}

.blotterPost {
  display: grid;
  /* grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); */
}

.blotterPost > *{
  padding: 5px 0;
}

.blotterPostImg {
  display: grid;
  position: relative;
  border: red 1px solid;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.catimage {
  position: absolute;
}

.blottercategory {
  color: black;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 100;
}

.blottertitle {
  color: black;
  font-weight: lighter;
  font-size: 20px;
}

@media screen and (max-width: 500px){
  .pagecontainer {
    padding: 10px;
  }

  .topleft > div{
    margin: 10px 0;
  }

  .topDiv {
    padding: 0 10px;
  }

  .topDiv > div{
    margin: 10px 0;
  }
  
  .blotterwrapper {
    padding: 10px;
  }

  
  
  
}
