.pagecontainer {
  padding: 0 100px;
}

.topDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 50px 100px;
  grid-column-gap: 60px;
  grid-template-rows: 650px;
  overflow-y: hidden;
}

.topleft {
}

.featuredimagewrapper {
  position: relative;
  border-radius: 10px;
  border: 0.5px black solid;
  display: grid;
  overflow:  hidden;
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.featuredimage {
  position: absolute;
}

.featuredarticle {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.featuredcategory {
  border-bottom: gray 1px solid;
  font-size: 20px;
  font-weight: 100;
  color: black;
}

.featuredtitle {
  font-size: 30px;
  color: black;
}

.topright {
  overflow-y: auto;
}

.topright::-webkit-scrollbar {
  display: none;
}
.recentposts {
  font-size: 30px;
}

.recentpostswrapper {
  padding: 20px 0;
  overflow-y: hidden;
}

.rArticle {
  display: grid;
  grid-template-columns: minmax(30%, 1fr) 3fr;
  column-gap: 10px;
  padding: 5px 0;
}

.rArticleImg {
  display: grid;
  position: relative;
  border-radius: 10px;
  overflow: none; 
  aspect-ratio: 1 / 0.9;
}

.rArticleImg img {
  position: absolute;
}

.rArticleDetails {

}

.rArticleTitle {
  font-size: 20px;
  font-weight: 100;
  color: black;
}

.rArticleCategory {
  border-bottom: gray 1px solid;
  font-size: 20px;
  font-weight: 100;
  color: black;
}

/* Categories blotter  */

.blotterwrapper {
  display: grid;
  width: auto;
  grid-template-columns: minmax(30%, 1fr) 3fr;

  padding: 50px 100px;
  background-color: whitesmoke;
  column-gap: 20px;
}

.leftsection > div{
  margin-top: 30px;
 }

.categoryheading {
  font-size: 30px;
}

.categorydesc {
  font-size: 20px;
  font-weight: 100;
}

.button {
  color: black;
  border: 1px black solid;
  border-radius: 15px;
  padding: 10px;
}

.blotterPostWrapper {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.blotterPost {
  padding-bottom: 20px;
}

.blotterPostImg {
  display: grid;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1 / 0.9;
}

.catimage {
  position: absolute;
}

.blottercategory {
  color: black;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 100;
}

.blottertitle {
  color: black;
  font-weight: lighter;
  font-size: 20px;
}

@media screen and (max-width: 500px){
  .pagecontainer {
    padding: 10px;
  }

  .topDiv {
    display: block;
    height: max-content;
    padding: 0 10px;
  }

  .topDiv > div{
    margin: 10px 0;
  }

  .topleft {
    
  }

  .recentpostswrapper {
    margin: 0;
    padding: 0;
  }

  .topleft > div{
    margin: 10px 0;
    display: block;
  }

  .blotterwrapper {
    padding: 10px;
    display: block;
    margin: 10px 0;
  }

  .leftsection {

   }
  
  .blotterPostWrapper {
    margin: 30px 0;
    display: block;
  }

  .blotterPost {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    padding: 5px 0;
  }

  .rArticle {
    /* display: block; */
  }
  
}
