.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(2,4,37);
  color: silver;
}

.container > div {
  flex-shrink: 1;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  background-image: url('./../public/topbackground.webp');
  background-size: cover;
  background-blend-mode: color-burn;
  border: none;
  padding: 200px 100px;
}

.top h1 {
  font-size: 80px;
}

.top span {
  padding: 0 10px;
}

.top h3 {
 /* margin: 0 300px; */
}

.top button {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid greenyellow;
  color: greenyellow;;
  background-color: #131A33;
  font-size: 20px;
}

.topDetails {
  margin: 20px 0;
}

.marquee {
  position: relative;
  padding-bottom: 20px;
  color: greenyellow;
  height: 100px;
}

.track {
  animation: tickerAnimation 20s linear infinite;
  position: absolute;
  left: 0;
  white-space: nowrap;
}

.track span {
  padding: 0 30px;
  font-size: 60px;
}

.section p {
  font-size: 20px;
  font-weight: 100;
}

.moreDetails {
}

.prop {
  display: flex;
  gap: 50px;
}

.prop:nth-of-type(2) {
  flex-direction: row-reverse;
}

.prop > div {
  flex: 1;
}

.propdeets {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
  margin-bottom: 200px;
}

.propImage {
  position: relative;
  aspect-ratio: 1/1;
}

.propImage img {
  position: absolute;
  object-fit: cover;
}


@keyframes tickerAnimation {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.section {
  display: flex;
  flex-direction: column;
  /* gap: 30px ; */
  overflow: hidden;
  padding: 50px 100px;
}

.circleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 20px;
}

.circleContainer h1 {
  font-size: 60px;
}

.circleContainer p {
  /* width: 600px; */
  margin: 0 200px;
}

.circle {
  font-size: 30px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: navy;
  background-color: greenyellow;
}

.circleContainer span:nth-child(2) {
  font-size: 40px;
  font-weight: bold;
}


.decideImage {
  position: relative;
  aspect-ratio: 1/0.5;
}

.decideImage img {
  position: absolute;
  object-fit: contain;
}

.decideGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: start;
}

.decideGrid > div {
  width: 100%;
}

.decideItem {
  border-radius: 10px;
  display: grid;
  border: 1px solid #C7D2D8;
  gap: 20px;
  padding: 10px;
}

.decidedeets {
  text-align: center;
  color: #C7D2D8
} 


@media screen and (max-width: 900px) {
  .container {
  }

  .top {
    align-items: center;
    text-align: center;
    background-size: cover;
    padding: 50px 10px;
  }

  .section {
    padding: 50px 10px;
  }
  


  .top h1 {
    font-size: 70px;
  }
  

  .prop {
    display: block;
    flex-direction: column;
    gap: 50px;
  }

  .propdeets {
    margin-bottom: 0;
    text-align: center;
  }

  .top h1 span {
    display: block;

  }

  .circleContainer p {
    margin: 0;
  }
  
}