.retirementContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: white;
  gap: 50px;
  font-weight: 100;
  justify-content: center;
  align-items: start;
}

.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.input input[type='number']{
  background-color: whitesmoke;
  padding: 10px;
  border: none;
  width: 250px;
  border-radius: 10px;
  font-size: 20px;
  color: navy;
  -moz-appearance: textfield; 
}

.input p {
  margin: 10px 0;
}

.result {
  border-radius: 20px;
  display: flex;
}

.resultTable {
  border-spacing: 0 20px;
  border-collapse: separate;
}

.resultTable tr:nth-of-type(2) p {
  padding: 10px 0;
}

.resultTable td {
  max-width: 300px;
  padding-right: 20px;
}

.result > div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.result button {
  padding: 10px;
  border: none;
}

.result * button:nth-of-type(1) {
  border-start-start-radius: 20px;
  border-bottom-left-radius: 20px ;
}

.result * button:nth-of-type(3) {
  border-start-end-radius: 20px;
  border-bottom-right-radius: 20px ;
}

.result h4 {
  /* font-size: 20px; */
}

.buttonSwitch p {
  padding-bottom: 10px;
}
