.pagecontainer {
  color: rgb(17, 30, 72);
}

.articlehead {
  display: flex;
}

.articlehead > div {
  flex: 1;
}

.headpic {
  position: relative;
  aspect-ratio: 1/0.5;
}

.headpic img {
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.headright {
  background-color: silver;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 20px 10px;
  gap: 10px;
}

.headright > a span:nth-of-type(1) {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(17, 30, 72);
  color: rgb(17, 30, 72);
}

.headright h1 {
  font-size: 60px;
}

.headright span a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  border-bottom: 0.5px solid black;
}

.articlebody {
  line-height: 30px;
  max-width: 800px;
  margin: auto;
  padding: 50px 0;
}

.blogcta {
  background-color: rgb(17, 30, 72);
  max-width: 900px;
  margin: auto;
  color: white;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.blogcta > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  flex: 3;
}

.blogcta form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogcta form input {
  max-width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  font-weight: 100;
  font-size: 20px;
}

.blogcta form input:focus {
  outline: none;
}

.blogcta form button {
  width: max-content;
  gap: 10px;
  height: 50px;
  border-radius: 40px;
  padding-left: 20px;
  border: none;
  display: flex;
  align-items: center;
  background-color: greenyellow;
  font-size: 16px;
  color: rgb(2,4,37);
  transition: all 2s ease-in-out;
}

.blogcta form button:hover > svg {
  transform: rotateZ(45deg);
  transition: all 1s ease-in-out;
}

.related {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 700px;
  margin: auto;
  padding: 50px 0;
}

.related h1{
  /* padding: 20px 0; */
}

.related > div {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 30px;
}

.relatedframe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.relatedframe div:nth-of-type(1) {
  position: relative;
  aspect-ratio: 1/1;
}

.relatedframe  div:nth-of-type(1) img {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  z-index: -1;
}

.relatedframe div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.relatedframe div:nth-of-type(2) a {
  color:  rgb(17, 30, 72);
}

.relatedframe div:nth-of-type(2) a span {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(17, 30, 72);
}


@media screen and (max-width: 700px) {
  .pagecontainer > div {
    /* padding: 0 10px; */
  }

  .articlehead {
    flex-direction: column;
    height: 100%;
    padding: 0;
  }

  .headpic {
    flex: 1;
    position: relative;
    aspect-ratio: 1/1;
  }

  .headright {
    /* padding: 50px 5px 10px; */
  }

  .headright h1 {
    font-size: 30px;
  }

  .articlebody {
    padding: 50px 10px;
  }

  .blogcta {
    flex-direction: column;
    margin: 20px 10px;
    align-items: flex-start;
    padding: 20px;
  }

  .blogcta > div {
    flex: 1;
  }

  .blogcta form {
    flex-direction: column;
    /* align-items: flex-start; */
    flex: 1;
  }

  .related {
    padding: 20px 10px;
  }

  .related > div {
    display: block;
  }

  .related > div > div {
    padding-bottom: 20px;
  }

  .relatedframe {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 20px;
  }

  .textmiddle > a {
    color: white;
  }
  
}