/* Footer Style */

.footer {
  background-color: rgba(20, 20, 20, 1);
  padding: 50px 100px;
  color:  rgba(255, 255, 255, 0.7) ;
}

.topfooter {
  border-bottom:grey solid 0.5px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footerlogowrap {
  position: relative;
  width: 200px;
  height: 50px;
}

.footerlogowrap img{
  position: absolute;
  object-position: top left;
}

.addresswrap {
  font-size: 16px;
  text-align: end;
}

.middlefooter {
  padding: 50px 0;
  font-size: 14px;
}

.buttomfooter {
  border-top: gray solid 1px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 600px) {
  .footer {
    padding: 10px;
    display: block
  }

  .footerlogowrap {
    height: 30px;
  }

  .topfooter {
    display: flex;
    flex-direction: column;
  }

  .topfooter > div{
    padding: 10px 0;
    text-align: start;
  }

  .buttomfooter {
    display: block
  }

  .buttomfooter > div{
    padding: 10px 0px
  }

}