/* Footer Style */

.footer {
  background-color: rgba(20, 20, 20, 1);
  padding: 50px 100px;
  color: silver;
}

.topfooter {
  border-bottom:grey solid 0.5px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footerlogowrap {
  width: 100px;
}

.navs ul {
  display: flex;
  list-style: none;
  gap: 10px;
  list-style-type: none;
  list-style: none;
}

.navs li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.navs li a:hover {
  color: greenyellow
}

.footerlogowrap img{
  width: 100%;
  height: 100%;
}

.middlefooter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 0;
}

.socialicons p {
  margin: 5px 0;
}


@media screen and (max-width: 900px) {
  .footer {
    padding: 10px;
  }

  .topfooter {
    flex-direction: column;
    gap: 50px;
  }

  .topfooter * div{
    /* padding: 10px 0; */
    text-align: start;
  }

  .navs ul {
    flex-direction: column;
    padding: 0;
  }

  .navs ul li a{
    font-size: 16px;
    font-weight: normal;
  }

  .middlefooter {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;  
  }

}