/* Header style */

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.15);
  position: sticky;
  z-index: 100;
  padding: 2px 10px;
  align-items: center;
}

.headerlogo {
  width: 150px;
}

.headerlogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navs ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.navs ul li{
  font-size-adjust: auto;
  text-align: center;
  list-style: none;
}

.navs ul li a{
  text-decoration: none;
  color: navy;
}

.ctabutton {
  display: flex;
  align-items: flex-end;
}

.ctabutton button {
  background-color: #0A018E;
  width: 130px;
  height: 51px;
  color: white;
  border-radius: 8px;
  border: none;
}

.menu {
  display: none;
}

@media screen and (max-width: 900px){
  .header {
    /* position: relative; */
  }

  .navs {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    right: 0;
    top: -300%;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 20px;
    transition: all 1s ease-in-out;
    z-index: 90;
  }

  .navs ul {
    flex-direction: column;
    gap: 2px;
    padding: 0 15px;
    }

  .navs ul li {
    text-align: start;
    padding: 2px 0;
    font-weight: 700;
  }

  .ctabutton {
   display: none;
  }

  .menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .menu button{
    background-color: transparent;
    border: none;
  }

  .menu button:active {
    outline: none;
  }

  .menu button:focus {
    outline: none;
  }
  
}
