.navanim {
  background-color: rgb(2,4,37);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navcontainer {
  animation: header 2s ease-in-out 1s forwards;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  z-index: 100;
  color: white;
  margin: auto;
  position: relative;
}

@keyframes header {
  0% {
    translate: 0 -100%;
  }

  100% {
    translate: 0 0;
  }
}

.logocontainer {
  margin: auto;
  padding: auto;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: flex-end;
  gap: 10px
}

.nav a {
  color: white
}

.nav div {
  display: flex;
}

.nav div:hover {
  cursor: pointer;
}

.nav a + div{
  display: none;
  opacity: 0;
  font-size: 20px;
  transform-style: flat;
  transition: all 10s ease-in-out;
}

.nav div:hover > div{
  transition: all 10s ease-in-out;
  opacity: 1;
  display: flex;
  align-items: center;
  padding: 0 10px; 
}

.nav div > div{
  
}

.menu, .mobileNav {
  display: none;
}



@media screen and (max-width: 600px) {

  .navanim {
    /* height: 100vh; */
  }

  .navcontainer {
    padding: 20px 10px 10px;
    position: relative;;
  }

  .nav {
    display: none;
  }

  .menu {
    display: block;
    width: 30px;
    position: relative;
  }

  .menu div {
    position: absolute;
    padding: 2px 0;
    width: 30px;
    border-radius: 2px ;
    background-color: white;
    transition: all 1s ease-in-out;
  }

  .flatone {
    top: 30%;
  }
  .flatwo {
    top: 70%;
  }

  .crossOne {
    top: 50%;
    transform: rotate(-45deg);
    transition: all 50ms ease-in-out;
  }
  .crossTwo {
    top: 50%;
    transform: rotate(45deg);
    transition: all 50ms ease-in-out;
  }
  
  .mobileNav {
    display: block;
    position: absolute;
    left: -100%;
    height: 350px;
    width: 100%;
    background-color:  rgb(2,4,37);
    color: white;
    transition: all 1s ease-in-out;
    padding: 0 10px;
    padding-left: 10px;
  }

  .mobileNav span {
    font-size: 10px;
  }

  .navtwo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px 0;
  }

  .navtwo div {
    display: flex;
    align-items: center;
    gap: 10px ;
  }

  .navtwo div a {
    color: white ;
    font-size: 16px;
  }
  
  
  .navtwo div:hover {
    cursor: pointer;
  }

  

}


