/* Header style */

.header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px 0px;
  position: relative;
  align-items: flex-end;
}

.headerlogo {
  position: relative;
  min-width: 150px;
  height: 50px;
}

.headerlogo img{
  position: absolute;
  object-position: top left;
}

.navs ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navs ul li{
  padding: 0 20px;
  font-size-adjust: auto;
  text-align: center;
}

.navs ul li a{
  text-decoration: none

}

.ctabutton {
  display: flex;
  align-items: flex-end;
}

.ctabutton button {
  background-color: #0A018E;
  width: 130px;
  height: 51px;
  color: white;
  border-radius: 8px;
  border: none;
}

.menu {
  display: none;
}

.mobileNav {
  display: none;
}

@media screen and (max-width: 900px){
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    position: sticky;
    top: 0;
  }

  .ctabutton {
   display: none;
  }
  .navs {
    display: none;
  }

  .mobileNav {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 100%;
    height: 300px;
    padding: 10px 0;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.15);
    transform: translateY(60px);
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }
  
  .mobileNav li {
    list-style: none;
    font-size: 30px;
    color: black;
    padding: 2px 0;
    transition: transform ease-in;
  }

  .mobileNav li:hover {
    transform: scale(1.1);
  }

  .mobileNav li a{
    color: rgba(24,40,102,255)
  }

  .mobileNav li a:hover{
    color: rgba(24,40,102, 0.5)
  }

  .menu{
    display: flex;
  }

  .menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
  }

  .menu button:active {
    outline: none;
  }

  .menu button:focus {
    outline: none;
  }

  .menu button svg{

  }
  
}
