/* Header style */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.15) 
  /* 0px 5px 17px -2px rgba(0, 0, 0, 0.15); */
}

.headerlogo {
  position: relative;
  width: 150px;
  height: 100px;
}

.headerlogo img{
  position: absolute;
}

.navs ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navs ul li{
  padding: 0 20px;
  font-size-adjust: auto;
}

.navs ul li a{
  text-decoration: none

}

.ctabutton {
  display: flex;
  align-items: flex-end;
}

.ctabutton button {
  background-color: #0A018E;
  width: 130px;
  height: 51px;
  color: white;
  border-radius: 8px;
  border: none;
}

.menu {
  display: none;
}

.mobileNav {
  display: none;
}

@media screen and (max-width: 500px){
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .ctabutton {
   display: none;
  }
  .navs {
    display: none;
  }

  .mobileNav {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 300px;
    padding: 10px 0;
  }
  
  .mobileNav li {
    list-style: none;
    font-size: 30px;
    color: black;
    padding: 2px 0;
  }

  .mobileNav li a{
    color: rgba(24,40,102,255)
  }

  .mobileNav li a:hover{
    color: rgba(24,40,102, 0.5)
  }

  .menu{
    display: flex;
  }

  .menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
  }

  .menu button svg{

  }

  .headerlogo {
    display: flex;
    position: relative;
    width: 130px;
    height: 100px;
  }
  
}



/* Footer Style */

.footer {
  background-color: rgba(20, 20, 20, 1);
  height: 85vh;
  padding: 95px 200px 95px 200px;
  color:  rgba(255, 255, 255, 0.7) ;
}

.footerwrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 115px auto 90px;

}


.topfooter {
  border-bottom:rgba(255, 255, 255, 0.1) solid 0.5px;
  align-content: space-between;
  display: flex;
  flex-direction: row;
}

.footerlogowrap {
  flex: 1;
  position: relative;
  height: 40%;
  display: flex;
}

.footerlogowrap img{
  position: absolute;
  object-position: top left;
}

.addresswrap {
  font-size: 16px;
  flex: 2;
}

.addresswrap p {
  text-align: end;
}

.middlefooter {
  padding: 65px 0 65px 0;
  font-size: 14px;
}

.buttomfooter {
  border-top: rgba(255, 255, 255, 0.1) solid 0.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.copywritewrap {
  flex: 1;
}

.socialicons {
  list-style: none;
  display: flex;
  justify-content:center;
  padding: 0;
}

.socialicons li {
  border: white 1px solid;
  display: inline;
  padding: 20px;
  position: relative;
  height: 40%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  
}