.navcontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 100px 10px;
  /* max-width: 90vw; */
  background-color: navy;
  color: white;
  margin: auto;
}

.logocontainer {
  width: 300px;
  margin: auto;
  padding: auto;
  display: flex;
  align-items: ce;
}

.nav {
  display: flex;
  align-items: flex-end;
  gap: 10px
}

.nav * a {
  color: whitesmoke;
  text-decoration: none;
}

.nav div {
  display: flex;
}

.nav div:hover {
  cursor: pointer;
}

.nav a + div{
  display: none;
  opacity: 0;
  font-size: 20px;
}

.nav div:hover > div{
  transition: all 4s ease-in-out;
  opacity: 1;
  display: flex;
  align-items: center;
  padding: 0 10px; 
}

.nav div > div{
  
}


