.pagecontainer {
  background-color:  rgb(24, 40, 102);
  color: greenyellow;
  padding: 50px 0;
}

.quizintro > div{
  display: block;
  text-align: center;
  font-size: 30px;
  color: greenyellow;
}

.quizintro  *{
 padding: 20px 0;
}

.quizintro p{
  font-size: 20px;
  font-weight: 100;
 }

.pagecontainer * button{
 background-color: greenyellow;
 color:navy;
 border: 1px white solid;
 border: none;
 font-weight: bold;
 font-size: 20px;
 padding: 20px;
 border-radius: 20px;
 cursor: pointer;
}

.ageQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ageQuestion * {
  margin: 10px 0;
}

.ageQuestion input {
 width: 300px;
 height: 1px;
 -webkit-appearance: none;
 appearance: none;
}

.ageQuestion input::-webkit-slider-thumb {
  
  -webkit-appearance: none;/* appearance: none; */
  width: 30px;
  height: 30px;
  background-color: rgb(24, 40, 102);
  border: 1px solid greenyellow;
  border-radius: 50%;
  cursor: pointer;
 }

 .ageQuestion input::-ms-thumb {
  width: 30px;
  height: 30px;
  background-color: rgb(24, 40, 102);
  border: 1px solid greenyellow;
  border-radius: 50%;
  cursor: pointer;
}

.ageQuestion input::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-color: rgb(24, 40, 102);
  border: 1px solid greenyellow;
  border-radius: 50%;
  cursor: pointer;
}

.ageQuestion div {
  font-size: 20px;
  padding: 20px 0;
  font-weight: bolder;
}

.formcontainer {
  color: white;
  font-weight: 100;
  padding: 0 400px;
}

.questionContainer {
  height: 450px;
}

.questionContainer h1 {
  padding: 5px 0;
}

.formnavigation {
  display: flex;
  justify-content: space-between;
}

.formnavigation button{
  border: none;
  padding: 15px;
  border-radius: 50px;
  width: 100px;
  background-color: white;
  color: navy;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

.formnavigation  .prevbutton {
  /* background-color: navy;
  color:white;
  border: 1px white solid; */
}

.multichoiceContainter label {
  position: relative;
}

.multichoiceContainter input {
  opacity: 0;
}

.multichoiceContainter input:checked + div {
  cursor: pointer;
  background-color: rgb(30, 144, 255, 0.3);
}

.multichoiceContainter label > div {
  padding: 15px;
  margin: 5px 0;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 20px;
}

.multichoiceContainter * div:hover{
  background-color: rgb(30, 144, 255, 0.3);
  border: 2px solid white; 
}

.circleOptionContainer {
  display: block;
  align-items: center;
}

.circleOptionContainer * div {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circleOptionContainer > div {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.circle {
display: flex;
border-radius: 50%;
border: 1px solid greenyellow;
margin: 0 10px;
}

.circle:hover {
background-color: blue;
}

input[type="radio"]:checked + .circle {
background-color: blue;
border-color: greenyellow;
}

.ranking {
  display: none
}

#big {
  width: 80px;
  height: 80px;
}

#small {
  width: 30px;
  height: 30px;
}

#mid {
  width: 55px;
  height: 55px;
}


@media screen and (max-width: 1400px) {
  .formcontainer {
    padding: 0 200px;
  }

  .formnavigation button{
  }
  


}

@media screen and (max-width: 900px){

  .formcontainer {
    padding: 0 50px;
  }

  .formnavigation button{
  }

  
}

@media screen and (max-width: 600px){

  .formcontainer {
    padding: 0 10px;
    font-size: 12px;
  }

  .formnavigation button{
    font-size: 15px;
  }
  
  .questionContainer {
    height: 60vh
  }

  #big {
    width: 70px;
    height: 70px;
  }
  
  #small {
    width: 25px;
    height: 25px;
  }
  
  #mid {
    width: 40px;
    height: 40px;
  }

  .circleOptionContainer > div {
    display: flex;
    flex-direction: column;
    width: auto;
  }

}