.container {
  display: flex;
  color: white;
  gap: 50px;
  font-weight: 100;
  margin: auto;
  justify-content: center;
}

.container > div {
  padding: 0 10px;
}

.input {
  display: flex;
  justify-content: center;
  max-width: 400px;
}

.input form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputRadio {
  display: flex;
  gap: 20px;
 }

 .inputRadio label{
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
 }

 .inputRadio input {
  display: none;
 }

 .inputRadio label:has(input:checked) {
  background-color: whitesmoke;
  color: rgb(24, 40, 102);
 }

 .inputRadio label:hover {
  color: rgb(24, 40, 102);
  background-color: whitesmoke;
  border: 2px solid navy;
 }

 .input p {
  margin: 10px 0;
}

 .input input[type='radio'],
 .input label:has(input[type='radio']){
  padding: 15px;
  border: 1px solid silver;
  margin: 5px 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
 }

 .input button {
  padding: 15px;
  border: none;
  color: navy;
  border-radius: 20px;
 }

 .inputamount {
  position: relative;
  padding: 0;
  background-color: whitesmoke;
 }

 .inputamount input[type='number'] {
  -moz-appearance: textfield;
  border: none;
 padding: 15px;
 padding-left: 55px;
 border: none;
 width: 100%;
 border-radius: 10px;
 font-size: 20px;
 color: navy;
 }

 .inputamount span {
  position: absolute;
  align-items: center;
  top: -20%;
  right: 5px;
  left: +5px;
  font-size: 20px;
  color: rgb(24, 40, 102);
  font-weight: bolder;
 }

 .result {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
 }

 .result > div:nth-child(1) {
  display: flex;
  gap: 30px;
 }

 .resultTable {
  text-align: left;
  border-spacing: 0 10px;
 }

 .resultTable tr,
 .resultTable td,
 .resultTable th 
  {
  padding-right: 10px;
 }

 .resultTable thead {
 }


 @media screen and (max-width: 700px) {

  .container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-size: 13px;
  }

  .input form{
    gap: 5px;
  }

  .input input[type='radio'],
  .input label:has(input[type='radio']){
   padding: 10px;
  }

  .inputamount input[type='number'] {
    -moz-appearance: textfield;
    border: none;
   padding: 10px;
   padding-left: 55px;
   }

   .inputamount span {
    top: -35%;
   }

  .result > div:nth-child(1) {
    display: flex;
    gap: 30px;
   }

   .result > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 5px;
   }

   .resultTable {
    border-spacing: 0 5px;
   }
 
  }